/DATASET

Video_results/result_goddess.avi
Video_results/tree.avi
Video_results/warrior_result.mp4
Video_results/worrier.avi

Sample_video/Downdog.mp4
Sample_video/Goddess.mkv
Sample_video/plank.mp4
Sample_video/Tree.mp4
Sample_video/Warrior2.mp4